# Quiz 2

In [20]:
# Exercise 1 -- OK
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

print(obj2['California'] == None)

False

In [21]:
# Exercise 2 -- OK
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

print(S.iloc[0:3])

1    Alice
2      Bob
3     Rita
dtype: object

In [32]:
# Exercise 3 -- OK
print('df.rename(mapper = lambda x: x.upper(), axis = 1)')

df.rename(mapper = lambda x: x.upper(), axis = 1)

In [25]:
# Exercise 4 -- OK
print("df.where(df['toefl score'] > 105)")

df.where(df['toefl score'] > 105)

In [26]:
# Exercise 5 -- OK
print('Question 5. Which of the following can be used to create a DataFrame in Pandas?')
print('All these work')

Question 5. Which of the following can be used to create a DataFrame in Pandas?
All these work

In [27]:
# Exercise 6 -- OK
print("df.drop('two')")

df.drop('two')

In [28]:
# Exercise 7 -- OK
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

print('s2.loc[1]')

s2.loc[1]

In [29]:
# Exercise 8 -- OK
print('loc and iloc are two useful and commonly used Pandas methods.')

loc and iloc are two useful and commonly used Pandas methods.

In [30]:
# Exercise 9 -- OK
print("(df['toefl score'] > 105) & (df['toefl score'] < 115)")

(df['toefl score'] > 105) & (df['toefl score'] < 115)

In [31]:
# Exercise 10 -- OK
print("df.T['Mathematics']")

df.T['Mathematics']